<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #form-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .field {
      width: 14.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input[type=text],
    input[type=password] {
      width: 10rem;
    }
  </style>

  <div dir="rtl" id="form-container">
    <div class="field" dir="rtl">
      <label for="email">البريد:</label>
      <input id="email" type="text" />
    </div>
    <div class="field" dir="rtl">
      <label for="password">كلمة المرور:</label>
      <input id="password" type="password" />
    </div>
    <button onclick="login()">تسجيل الدخول</button>
  </div>

  <script>
    async function login() {
      const emailElement = document.getElementById("email");
      const passwordElement = document.getElementById("password");

      const response = await fetch("/api/users/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({email: emailElement.value, password: passwordElement.value}),
      });

      if (response.status == 200) {
        window.location.href = "/admin";
      }
    }

    const form_container = document.getElementById("form-container");
    for (const child of form_container.childNodes) {
      child.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          login();
        }
      });
    }
  </script>
</body>

</html>